.main{
  min-height: 100vh;
  background: linear-gradient(to right, #191b2d,#181a2c);
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  
}
.container{
  /* background: red; */
  padding: 0 2em 0 2em;
}
.profile{
  background: blue;
  grid-column: 1 / 2 ;
}
.information{
  background: green;
  grid-column: 2 / 9;
}
.preview-content{
  margin-top: 1.875em;
}
@media (max-width: 768px) {
  .profile{
    background: blue;
    grid-column: 1 / 8 ;
  }
}
/* .main-menu{
  min-height: 100vh;
  background-image: url('../img/main_menu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  display:flex;
  justify-content: space-between;
}
.preview-content{
  margin-top: 1.875em;
} */