.content-items ul>li{
    list-style:none
}
.menu{
    min-height: 100vh;
    max-width: 50vh;
    background: linear-gradient(to right, rgb(124, 10, 29), rgb(22, 22, 22));
    opacity: 0.8;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 1fr);
    box-shadow: 0 0 15px rgb(107, 23, 23);
    padding: 0 100px 0 0;
}
.menu .content-items{
    position:relative;
    max-width: 48vh;
}
.menu .items{
    font-size:20px;
    color:rgb(206, 159, 168);
    text-transform: uppercase;
    opacity: 1;
    border-radius: 1px 1px 20px 1px;
    border:2px solid transparent;
    margin:0 0 12px 20px; 
    transition: all .3s
}
.menu .items >div>p{
    margin:auto;
    padding: 0 0 0 12px
}
.menu .items:hover{
    cursor:pointer;
    color:#5096c7;
    background: #000;
    border-radius: 1px 1px 20px 1px;
    border:2px solid #5096c7;
    box-shadow: 0 0 12px rgb(34, 146, 113);
    transition: all .3s
}

.content-logo{
    margin:auto;
    transform: translate(-7.5%);
    opacity: 1;
}







