.menu{
    height: 80%;
    max-width: 80vh;
    position:relative;
    margin-top:3.125rem;
    /* background-color: #141518; */
    color:#ffffff;
    /* background: linear-gradient(to right, rgb(53, 51, 153), rgb(22, 22, 22)); */
    /* background-image: url('https://p0.pxfuel.com/preview/780/727/602/background-grunge-paper-old.jpg') ; */
    /* opacity: 0.5; */
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 1fr);
    padding: 0px 10px 10px 10px;
    
    justify-content: space-between;
    border-radius: 10px;
}

.content-logo{
    background-color: #1e2431;
    margin-top:.7em;
    margin-bottom:1.25rem;
    padding:20px;
    /* margin: auto; */
    opacity: 0.8;
    border-radius: 10px;
    border: 10px solid #141518;
}
.content-logo  img{
    max-width: 15.25rem;
    opacity: 1;
}
.content-items ul>li{
    list-style:none
}

.menu .content-items{
    position:relative;
    max-width: 48vh;
    background-color: #061c2d;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.8;
    border-radius: 10px;
    border: 10px solid #141518;
}
.menu .items{
    font-size:1.5rem;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 1px 1px 20px 1px;
    border:2px solid transparent;
    margin: 5px 0 0 0; 
    transition: all .1s ease;
    font-family: "tech";
    z-index: 1;
    background-image: linear-gradient(currentColor, rgb(38, 161, 199));
    background-position: 20% 80%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.menu .items >div>p{
    margin:auto;
    padding: 0 0 0 0.75rem;
    color:rgb(255, 255, 255); 

}
.menu .items:hover{
    cursor:pointer;
    background-size: 50% 2px;
    /* text-decoration: line-through; */
    color:rgb(38, 161, 199); 
    /* background: rgba(53, 52, 52, 0.514);
    border-radius: 1px 1px 20px 1px;
    border:2px solid rgb(38, 161, 199); */
    transition: all .1s ease;
}









