.preview{
    width: 100%;
    max-height: 100%;
    margin:auto;
    display:block;
}

.content-preview{
    width: 36.25em;
    margin-top: 6.75em;
}

.preview .title{
    color:#ffffff;
    font-family: "tech";

}

.content-img{
    position:relative;
    padding: 12px;
    background-color:#141518;
    opacity: 0.8;
    border-radius: 10px;
    
}

.prev-img{
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
}

.content-options{
    margin-top:5%;
    display: flex;
}

.content-options > .btn-prev{
    margin:auto;
    width:25%;
    height:auto;
    background-color: transparent;
    border:1.3px solid #12a951;
    color:#12a951;
    font-family: "tech";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom-left-radius: 15px;
    outline:none;
    transition:all 0.4s linear;

}

.content-options>.btn-prev:hover{
    background-color: #12a951;
    opacity:0.8;
    color:#171817;
    border:1.3px solid #171817;
    transition:all 0.4s linear;
}

.content-options>.btn-prev:active{
    background-color: #12a9516c;
    transition: all .1s ease-in-out;
    outline:none
}