.preview{
    width: 100%;
    max-height: 100%;
    margin:auto;
    display:block
}

.content-preview{
    width: 36.25em;
    margin-top: 6.75em;
}

.preview .title{
    color:#33ffff
}

.content-img{
    position:relative;
    border: 1px solid #33ffff;
    box-shadow: 2px 0px 12px #33ffff;
}

.prev-img{
    max-width: 100%;
    max-height: 100%;
}

.content-options{
    margin-top:5%;
    display: flex;
}

.content-options > .btn-prev{
    margin:auto;
    width:25%;
    height:auto;
    background-color: #0a0d11;
    border:1.3px solid #33ffff;
    color:#5096c7;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom-left-radius: 15px;
    outline:none 
}

.content-options>.btn-prev:hover{
    background-color: rgba(153, 51, 102, 0.432);
    opacity:0.8;
    color:#5096c7;
    transition:all 0.4s linear;
}

.content-options>.btn-prev:active{
    background-color: rgba(250, 242, 242, 0.432);
    transition: all .4s ease-in-out;
    outline:none
}