.profile-content{
    height: 100%;
    width: 40vh;
    position:relative;
    margin-top:5.125rem;
    background-color: #292944;
    color:#ffffff;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 1fr);
    padding: 0px 10px 10px 10px;
    justify-content: space-between;
    border-radius: 20px;
}

.content-logo{
    transform: translateY(-60px);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-logo  img{
    width: 8rem;
    background-color: #1e2431;
    border: 2px solid #ffffff;
    /* border: 8px solid #141518; */
    border-radius: 50%;
    box-shadow: 0px 0px 10px #505069;

}
.content-info{
    margin-bottom: 20px ;

}
.content-info p{
    font-family: 'mont';
    font-size: 15px;
    letter-spacing:2.5px;
    margin: 0;
}
.content-info p>span{
    font-family:'mont';
    font-size: 15px;
    letter-spacing:2.5px;
    margin: 0;
    color:#4b4b6a;
}
.profile-content hr {
    margin:0;
    color:#656668;
}

.content-interesting{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'mont';
    justify-content:space-between;
    text-align: center;
    margin: 15px 0 20px 0;

}
.content-interesting p{
    background-color: rgba(32, 54, 90,.5);
    color:#116bb4;
    border-radius: 5px;
    padding:2px 2px 0 2px;
    margin:3px;
}
.content-social-media{
    display:flex;
    justify-content: center;
    align-items: center;
}
.social>img{
    width:35px;
    margin:15px 15px;
}
.git>img{
    filter:invert(100%)
}
.content-contact{
    display:flex;
    justify-content: center;
    align-items: center;
}
.content-contact>button{
    /* background-color: rgb(20,98,166); */
    background: linear-gradient(to right,  #1488cc, #2b32b2);
    border: 2px solid transparent;
    border-radius: 5px;
    font-family:'mont';
    font-size:14px;
    color:rgb(248, 249, 250);
    padding:7px 12px;
}
.content-contact>button:hover{
   
    border: 2px solid gray;
    /* box-shadow: inset 1px 1px 2px #999; */
}
@media (max-width: 768px) {
    .profile-content{
      width: 100%;
      
    }
  }
@media (max-width: 320px) {
    .content-interesting{
        display:flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
  }

/* .profile-content{
    height: 80%;
    max-width: 80vh;
    position:relative;
    margin-top:3.125rem;
    
    color:#ffffff;
    
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 1fr);
    padding: 0px 10px 10px 10px;
    
    justify-content: space-between;
    border-radius: 10px;
}

.content-logo{
    background-color: #1e2431;
    margin-top:.7em;
    margin-bottom:1.25rem;
    padding:20px;
    opacity: 0.8;
    border-radius: 10px;
    border: 10px solid #141518;
}
.content-logo  img{
    max-width: 15.25rem;
    opacity: 1;
}
.content-items ul>li{
    list-style:none
}

.menu .content-items{
    position:relative;
    max-width: 48vh;
    background-color: #061c2d;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.8;
    border-radius: 10px;
    border: 10px solid #141518;
}
.menu .items{
    font-size:1.5rem;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 1px 1px 20px 1px;
    border:2px solid transparent;
    margin: 5px 0 0 0; 
    transition: all .1s ease;
    font-family: "tech";
    z-index: 1;
    background-image: linear-gradient(currentColor, rgb(38, 161, 199));
    background-position: 20% 80%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.menu .items >div>p{
    margin:auto;
    padding: 0 0 0 0.75rem;
    color:rgb(255, 255, 255); 

}
.menu .items:hover{
    cursor:pointer;
    background-size: 50% 2px;
    color:rgb(38, 161, 199); 
    transition: all .1s ease;
} */









