.content-load{
    width: 100%;
    min-height:100vh;
    position:fixed;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    background-image: url('../img/bg1.jpg');
    /* background-image: url('https://wallpapertag.com/wallpaper/full/6/4/e/403896-hexagon-background-1920x1200-tablet.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.content-load:after{
    content:'';
    position:absolute;
    width: 100%;
    min-height:100vh ;
    background: rgba(0,0,0,0.4); 
} 

.content-load .logo{
    position:relative;
    max-width: 15.25rem;
    margin:6em 0 4.125rem 0;
    z-index: 1;
}

.content-load .progress:before{
    content:'';
    width: 80%;
    height: 0.3125em;
    margin: 0px auto 0.75em 0px;
    position: absolute;
    background: rgb(114, 114, 114);
    opacity:0.5;
} 

.content-load .progress{
    width: 80%;
    height: 0.3125em;
    margin: 0px auto 0.75em 10%;
    background: #ec0606;
    z-index: 1;
    /* box-shadow: 0 0 0.75rem #33ffff; */
    animation: progress 2s linear;
}

/* neon progress bar*/
.content-load .progress:before{
    content:'';
    width: 80%;
    height: 0.3125em;
    margin: 0px auto 0.75em 0px;
    position: absolute;
    background: rgb(114, 114, 114);
    opacity:0.5;
} 

.content-load .progress{
    width: 80%;
    height: 0.3125em;
    margin: 0px auto 0.75em 10%;
    background: #1d13a7;
    z-index: 1;
    box-shadow: 0 0 0.75rem #3374ff;
    animation: progress 2s linear;
}

@keyframes progress{
    0%{
        background: rgb(255, 115, 0);
        width: 0;
    }
    30%{
        background: rgb(255, 81, 0);
        width: 0;
    }
}

.button{
    margin:5.75rem 0 auto 0;
    position:relative;
    opacity:0;
    width:10rem;
    max-height:10em;
    background-color: #0a0d11;
    border:1.3px solid #1d13a7;
    color:#fff;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    border-bottom-left-radius: 0.9375rem;
    font-family: "damn";
    z-index: 1; 
    animation: button 4s linear;
    transition:all 0.4s linear;
    outline:none;
    cursor:pointer;
} 

.button:hover{
    background-color: rgba(153, 51, 102, 0.432);
    opacity:0.8;
    color:#5096c7;
    transition:all 0.4s linear;
} 

.button:active{
    background-color: rgba(250, 242, 242, 0.432);
    transition: all .1s ease-in-out;
    outline:none
}

@keyframes button{
   
    0%,50%{

        max-height: 0;
        transition: max-height 8s;
    }
} 

@media screen and (max-width:836px){
    .content-load .logo{
        max-width: 8.25rem;
        margin:2em 0 3.125rem 0;
    }
    .content-load .progress:before{
        margin: 0px auto 3.15em 0px;
    } 
    
    .content-load .progress{
        margin: 0px auto 3.15em 10%;
    }
    .button{
        margin:1.75rem 0 auto 0;
    } 
}

@media screen and (max-width:730px){
    .content-load .logo{
        max-width: 18.25rem;
        margin:5em 0 3.125rem 0;
    }
    .content-load .progress:before{
        margin: 0px auto 3.15em 0px;
    } 
    
    .content-load .progress{
        margin: 0px auto 3.15em 10%;
    }
    .button{
        margin:1.75rem 0 auto 0;
    } 
}
