.content-load{
    width: 100%;
    min-height:100vh ;
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    background-image: url('https://images7.alphacoders.com/316/thumb-1920-316707.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content-load:after{
    content:'';
    position:absolute;
    width: 100%;
    min-height:100vh ;
    background: rgba(0,0,0,0.8);
}
.content-load .logo{
    position:relative;
    max-width: 50%;
    margin:auto 0 auto 0;
    z-index: 1;
}

.content-load .progress:before{
    content:'';
    width: 80%;
    height: 0.3125em;
    margin: 0px auto 0.75em 0%;
    position: absolute;
    background: rgb(114, 114, 114);
    opacity:0.5;
} 

.content-load .progress{
    width: 80%;
    height: 0.3125em;
    margin: 0% auto 0.75em 10%;
    background: #33ffff;
    z-index: 1;
    box-shadow: 0 0 0.75rem #33ffff;
    animation: progress 2s linear;
}

@keyframes progress{
    0%{
        background: rgb(255, 115, 0);
        width: 0;
    }
    30%{
        background: rgb(94, 255, 0);
        width: 0;
    }
}

.button{
    margin:auto 0 auto 0;
    position:relative;
    opacity:0;
    width:10rem;
    max-height:10em;
    background-color: #0a0d11;
    border:1.3px solid #33ffff;
    color:#5096c7;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    border-bottom-left-radius: 0.9375rem;
    
    z-index: 1; 
    animation: button 4s linear;
    transition:all 0.4s linear;
    outline:none
} 
.button:hover{
    background-color: rgba(153, 51, 102, 0.432);
    opacity:0.8;
    color:#5096c7;
    transition:all 0.4s linear;
} 
.button:active{
    background-color: rgba(250, 242, 242, 0.432);
    transition: all .1s ease-in-out;
    outline:none
}

/* @keyframes button{
   
    0%,50%{

        max-height: 0;
        transition: max-height 8s;
    }
}  */

