#navbar>ul{
    display:flex; 
    flex-direction: row;
    width: 100%;
    margin: 2em 0 0 0;
    text-align: center;
    border-bottom: 0.3125em solid #4b4b6a;
    border-radius: .2em;
}
#navbar>ul>li{
    margin: auto 18px;
    color:#4b4b6a;
    list-style: none;
    
    padding:0 0 12px 0;

    border-bottom: 0.3125em solid transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    transform:translateY(.28em);
    transition: all 0.4s linear; 
    cursor: context-menu;
    z-index: 100;
}

#navbar .item-selected{
    color:#fff;
    border-bottom: 0.3125em solid #0084fb;
    transition: all 0.4s linear;
}

/*Responsive*/

@media only screen and (max-width:768px){
    #navbar>ul{
        display:grid; 
        grid-template-columns: 1fr 1fr 1fr;
        gap:3em;
        width: 100%;
        margin: 2% 0 0 0;
        padding: 0 10em;
        justify-content: center;
        background: #181a2c;
    }
    #navbar>ul>li{
        margin: auto 1px;
    }
    
  }