@import url("./components/main/css/main.css"); 
@import url("./components/main/css/menu.css"); 
@import url("./components/main/css/preview.css"); 
@import url("./components/loading/css/loading.css"); 
@import url("./components/about/css/about.css"); 
body{

  font-family: "tech";
}
.link{
  color: inherit;
  text-decoration: inherit;
}
@font-face {
  font-family: "tech";
  src: url("./fonts/TECHNO CAPTURE.ttf");
} 