@import url("./components/main/css/main.css"); 
@import url("./components/profile/css/profile.css"); 
@import url("./components/navbar/css/navbar.css"); 
@import url("./components/about/css/about.css"); 
@import url("./components/about/content/css/content.css"); 
@import url("./components/portfolio/css/portfolio.css"); 
@import url("./components/portfolio/cards/css/card.css"); 
@import url("./components/extras/css/extras.css"); 
@import url("./components/extras/extras-cards/css/extras-cards.css"); 



body{
  font-family: "mont";
  background: linear-gradient(to right, #191b2d,#181a2c);
  transition:all 0.4s linear;
}

.link{
  color: inherit;
  text-decoration: inherit;
}

@font-face {
  font-family: "tech";
  src: url("./fonts/TECHNO CAPTURE.ttf");
} 
@font-face {
  font-family: "moon";
  src: url("./fonts/Moon Bold.otf");
} 
@font-face {
  font-family: "mont";
  src: url("./fonts/Montserrat-Regular.ttf");
} 