#content-extras{
    background: green;
    display:grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    gap:2em;
    justify-content:center;
}

@media only screen and (max-width:760px){
    #content-extras{
        margin-bottom:2em;
    }
}